<footer>
	<div class="page__footer-follow">
		<ul class="social-icons">
			<li><a href="https://www.linkedin.com/in/vicente-garcia-andrade/" rel="nofollow noopener noreferrer"><i class="fab fa-fw fa-linkedin" aria-hidden="true"></i> LinkedIn</a></li>
			<li><a href="https://github.com/Quierounnombre" rel="nofollow noopener noreferrer"><i class="fab fa-fw fa-github" aria-hidden="true"></i> GitHub</a></li>
			<li><a href="mailto:vicengandrade+miweb@gmail.com"><i class="fas fa-fw fa-envelope"></i> Email</a></li>
		</ul>
	</div>
	<div class="page__footer-copyright">© 2026 
		<a href="https://quierounnombre.github.io/about/">Vicente García Andrade</a>.
	</div>
	<div class="page__footer-copyright">
		<a href="/certificates">Certificados y logros</a>.
	</div>
</footer>
